<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3 mt-3">
            <nav class="navbar navbar-light bg-light w-full">
                <a class="navbar-brand" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xml:space="preserve"
                         style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2"><path d="M55.579 31.579a2 2 0 0 1 .208 2.583l-1.284 1.781a1.996 1.996 0 0 1-3.036.245A462554.14 462554.14 0 0 1 32 16.722L12.533 36.188a1.996 1.996 0 0 1-3.036-.245l-1.284-1.781a2 2 0 0 1 .208-2.583L32 8l23.579 23.579z" style="fill:none;stroke:#222a33;stroke-width:2px"/>
                        <path d="M13.977 34.745 32 16.722l18.023 18.023v20.002a2.25 2.25 0 0 1-.66 1.593 2.25 2.25 0 0 1-1.593.66H16.23a2.25 2.25 0 0 1-1.593-.66 2.25 2.25 0 0 1-.66-1.593V34.745zM20.736 19.264l-7.885 7.885V15.322h7.885v3.942z"
                              style="fill:none;stroke:#222a33;stroke-width:2px"/>
                        <path d="M37 44.5a1.503 1.503 0 0 0-1.5-1.5h-7a1.503 1.503 0 0 0-1.5 1.5V57h10V44.5z"
                              style="fill:none;stroke:#222a33;stroke-width:2px"/></svg>
                    <span style="vertical-align: super;">Home</span>
                </a>
                <a th:href="@{/player/get-players}" class="ml-3" style="cursor: pointer; ">Players</a><br><br>
                <a th:href="@{/schedule/get-schedules}" class="ml-3" style="cursor: pointer; ">Schedules</a><br><br>
                <a th:href="@{/task/get-tasks}" class="ml-3" style="cursor: pointer; ">Tasks</a><br><br>
                <a th:href="@{/add}" class="ml-3" style="cursor: pointer; ">Assign Task Schedule</a><br><br>
            </nav>
        </div>
    </div>
    <div class="row ml-3 mb-3">
        <h1>Assign Task and Schedule List</h1>
    </div>
    <div class="row ml-3 mb-3">
        <div class="row w-full">
            <form th:action="@{/search}" th:object="${searchDto}" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="stdate">Start Date</label>
                            <input class="form-control" type="date" th:field="*{startDateStr}" id="stdate"
                                   placeholder="Select Start Time"/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="enddate">End Date</label>
                            <input class="form-control" type="date" th:field="*{endDateStr}" id="enddate"
                                   placeholder="Select Start Time"/>
                        </div>
                        <div class="col-md-4 box-footer">
                            <button type="submit" class="btn btn-primary" style="margin-top: 33px !important;">Search
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row  ml-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">SL</th>
                <th scope="col">Player Name</th>
                <th scope="col">Schedule Name</th>
                <th scope="col">Schedule Start On</th>
                <th scope="col">Schedule End On</th>
                <th scope="col">Task Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assignTaskSchedule, idx: ${assignTaskSchedules}">
                <th scope="row" th:text="${idx.index+1}"></th>
                <td th:text="${assignTaskSchedule.player.firstName}"></td>
                <td th:text="${assignTaskSchedule.schedule.name}"></td>
                <td th:text="${assignTaskSchedule.startDate}"></td>
                <td th:text="${assignTaskSchedule.endDate}"></td>
                <td th:text="${assignTaskSchedule.task.name}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${assignTaskSchedule.id})}"
                       class="btn btn-primary btn-sm mb-3">Update</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>